<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>
<!-- QUEST logo -->
<img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png"
     width=221 height=92 alt="UMD QUEST Logo">

<h1>About Me</h1>

<h2>Education</h2>
<p>I am currently a senior studying <em>Computer Science</em> at the <strong>University of Maryland</strong>.
    I am also a member of the QUEST honors program (see details below).
    I have taken many courses here at UMD, here are some of my favorites:</p>

<!-- Courses are listed in chronological order -->
<table>
    <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Semester Taken</th>
    </tr>
    <tr>
        <td>PSYC234</td>
        <td>Living the Good Life</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>MUSC215</td>
        <td>World Popular Musics and Identity</td>
        <td>Fall 2023</td>
    </tr>
    <tr>
        <td>ASTR101</td>
        <td>General Astronomy</td>
        <td>Spring 2024</td>
    </tr>
    <tr>
        <td>BMGT190H</td>
        <td>Introduction to Design and Quality</td>
        <td>Spring 2024</td>
    </tr>
</table>

<h2>QUEST Honors Program</h2>
<p>I am a member of <strong>Cohort 42</strong>, which is (in my opinion) the <em>best</em> cohort.
    As part of the program, we take a series of four core courses plus an elective.
    I am currently taking the following courses:</p>
<ul>
    <li><strong>BMGT490H</strong> - our capstone course</li>
    <li><strong>BMGT408C</strong> - an elective that teaches web development (this course!)</li>
</ul>

<h2>Favorite Websites</h2>
<p>Here are some of my favorite websites:</p>
<ol>
    <li>
        <a href="https://www.youtube.com/">YouTube</a>
    </li>
    <li>
        <a href="https://coolors.com/" target="_blank">Coolors</a> <!-- opens in a new tab -->
    </li>
</ol>

<p><a href="/hello">Return to Hello</a></p>

</body>
</html>